# Getting Started with Python by @iArunava

This Notebook will get one boosted with python. So, Let's get started!

#### Comments:

In [ ]:
# This is a python tutorial and a single line comment
''' This is a multiline comment
    pretty awesome!!
    Let me introduce you to jennifer!'''

#### Imports:

In [ ]:
import math
import random

#### Variables:

In [ ]:
msg = "Python!"  # String
v2 = 'Python!'   # Also String works same
v1 = 2           # Numbers
v3 = 3.564       # Floats / Doubles
v4 = True        # Boolean (True / False)

#### Print:

In [ ]:
# print() automatically adds a newline
print (msg)
print (v2)
print (v1)
print (v3)
print (v4)
print ("Hello Python!")

##### Note: 
Both " and ' can be used to make strings. And this flexibility allows for the following:

In [ ]:
msg2 = 'Jennifer said, "I love Python!"'
msg3 = "After that Jennifer's Python Interpreter said it back to her!"
msg4 = 'Of Course she used the command `print("I love Jennifer")`'

# Now, let's print them
print (msg2)
print (msg3)
print (msg4)

### Conditional Blocks

In [ ]:
# if..else
v1 = 5
if v1 == 5:
    print (v1)
else:
    print ("v1 is not 5")

In [ ]:
# if..elif..else
s1 = "Jennifer"
s2 = "loves"
s3 = "Python"
if s1 == "Python":
    print ("s1 is Python")
elif s2 == "Jennifer":
    print ("s2 is Jennifer")
elif s1 == "loves":
    print ("s1 is loves")
else:
    print ("Jennifer loves Python!")

In [ ]:
# One liner
v1 = 5
x = 10 if v1 == 5 else 13
print (x)

### Case change of string variables:

In [ ]:
name    = "jennifEr loves Python"

# Change name string to title case i.e. first letter of each word is capitalized
name_t  = name.title() 
print (name_t)

# Change name string to upper case i.e. first letter of each word is capitalized
name_t  = name.upper() 
print (name_t)

# Change name string to lower case i.e. first letter of each word is capitalized
name_t  = name.lower() 
print (name_t)

### String Concatenation:

In [ ]:
fname = "jennifer"
lname = "python"
flname = fname + " " + lname

print (fname + " " + lname)
print ("Jennifer" + " " + "Python")
# OR equivalently
print (flname.title())

### Adding WhiteSpaces:

In [ ]:
print ("Jen\nloves\npython")

In [ ]:
print ("Jen\tloves\tpython")

In [ ]:
print ("Jen\tloves\npython")

### Stripping Whitespace:

In [ ]:
name1 = "    Jennifer"
name2 = "Jennifer    "
name3 = "  Jennifer  "

print (name1)
print (name2)
print (name3)
print ("----------")
print (name1.lstrip()) # lstrip() takes all extra whitespaces from left
print (name2.rstrip()) # rstrip() takes all extra whitespaces from right
print (name3.strip())  # strip() takes all extra whitespaces from both left and right

### Arithmetic Operations:

In [ ]:
# Add
print (3 + 2)
print (3.4565 + 56.232)
print ('------------')

# Subtract
print (3 - 4)
print (34.56 - 3.78)
print ('------------')

# Multiply
print (4 * 3)
print (7.56 * 34)
print ('------------')

# Division
print (5 / 2)
print (5.0 / 2)
print (5 / 2.0)
print (25.0 / 5)
print ('------------')

# Exponents
print (4 ** 4)
print (5.67 ** 3)

Tricks #1:

In [ ]:
print ("we" * 5)

### str() function:

In [ ]:
jensage = 21
# print ("Jennifer's age is " + jensage) ## This is an error as one cannot concatenate string and integer
print ("Jennifer's age is " + str(jensage)) # This works!

The Zen Of Python.
In your interpreter import 'this'

In [ ]:
import this

## Lists:

In [ ]:
names = ["Jennifer", "Python", "Scarlett"]
print (names)

# Can have multiple data types in one list
rand_list = ["Jennifer", "Python", "refinneJ", "J", "9", 9, 12.90, "Who"]
print (rand_list)

### Accessing elements in a list:

In [ ]:
# O-indexed
print (names[2])
print (rand_list[3])
print (names[0] + " " + rand_list[2].title())

Negetive indexes:
One can access the elements from the end of the list without knowing the size of the list

In [ ]:
print (rand_list[-1]) # Returns the last element of the list [1st from the end]
print (rand_list[-2]) # Returns the 2nd last element
# and so on..

Now here's a question.

In [ ]:
print (rand_list[-1] + " is " + names[2] + "?")
print ("A) " + rand_list[0] + "'s sister\tB) " + names[0] + "'s Friend\nC) Not Related to " + rand_list[-8] + "\tD) Nice question but I don't know")

### Modifying elements in a list

In [ ]:
str_list = ["Scarlett", "is", "a", "nice", 'girl', '!']
print (str_list)
str_list[0] = "Jennifer"
print (str_list)

##### Note: 
Be consistent with the quotes you use, either use single quotes throughout or double quotes, don't mix match, I have used it to show readers that it is not a syntax error thus can be used, but to make beautiful and readable code stick with one you prefer. Henceforth, I'll use double quotes for strings and single for characters.

### Adding elements to a list:

In [ ]:
# Use append() to add elements to the end of the list
str_list.append ('She is 21.')
print (str_list)

So, you can build lists like this:

In [ ]:
my_list = []
my_list.append ("myname")
my_list.append ("myage")
my_list.append ("myaddress")
my_list.append ("myphn")
my_list.append ("is")
my_list.append (1234567890)
print (my_list)

### Inserting elements to list

In [ ]:
# insert(index, element)
my_list.insert (0, "Mr/Miss/Mrs")
print (my_list)

my_list.insert (-1, "mymail")
print (my_list)

##### Note:
Using '-1' to append at the end doesn't works and inserts element at the 2nd last position.
Let's see about '-2'

In [ ]:
my_list = ['A', 'B', 'C', 'D']
my_list.insert (-2, 'E')
print (my_list)

So, as we can see using '-2' inserts at 3rd last position
So, we can use '-n' to insert at 'n+1'th position from end.
To insert at end we can use:

In [ ]:
# Insert elements at the end
l1 = ['A', 'B', 'C', 'D']
l2 = ['A', 'B', 'C', 'D']

l1.append('E')
l2.insert(len(my_list), 'E')
print (l1)
print (l2)

### Length of the list and string use len()

In [ ]:
l1 = ['A', 'B', 'C', 'D', 'E']
print (len(l1))

l2 = "Where is Jennifer and Scarlett?"
print (len(l2))

### Removing elements from list

Using del

In [ ]:
# del can remove any element from list as long as you know its index
l1 = ['A', 'B', 'C', 'D', 'E']
print (l1)

del l1[0]
print (l1)

del l1[-1]
print (l1)

Using pop()
pop() without any arguments removes the last element from the list
Returns that element for further use

In [ ]:
# pop() can remove the last element from list when used without any arguments
l1 = ['A', 'B', 'C', 'D', 'E']
# pop() returns the last element, so c would store the popped element
c = l1.pop()

print (l1)
print (c)

pop() with arguments
pop(n) -> Removes the element at index 'n' and returns it

In [ ]:
l1 = ['A', 'B', 'C', 'D', 'E']
c = l1.pop(0) # Removes the element at 0 position and returns it
print (l1)
print (c)

c = l1.pop(-1) # Works as expected with negetive indexes
print (l1)
print (c)

### Removing an item by value

In [ ]:
q1 = ["Seriously, ", "what", "happened", "to", "Jennifer", "and", "Jennifer", "?"]
print (q1)

q1.remove ("Jennifer")
print (q1)

n1 = "and"
q1.remove(n1)
print (q1)

##### Note:
remove() only removes the first occurence of the value that is specified.

### Sorting a list

sort() -> sorts list in increasing or decreasing order, *permantantly*

In [ ]:
# Sorts in alphabetical order
l1 = ['E', 'D', 'C', 'B', 'A']
l1.sort()
print (l1)

# Sorts in increasing order
l2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
l2.sort()
print (l2)

In [ ]:
# Reverse sorts alphabetical order
l1 = ['E', 'D', 'C', 'B', 'A']
l1.sort(reverse=True)
print (l1)

# Sorts in decreasing order
l2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
l2.sort(reverse=True)
print (l2)

sorted() -> Sorts list in increasing or decreasing order, (temporarily)

In [ ]:
# Sorts in increasing order
l2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
print (l2)
print (sorted(l2))
print (l2)

In [ ]:
# Sorts in decreasing order
l2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
print (l2)
print (sorted(l2, reverse=True))
print (l2)

### Reversing a list

In [ ]:
# Reverse list
l1 = ['E', 'D', 'C', 'B', 'A']
l1.reverse()
print (l1)

### Looping Through a list

In [ ]:
l1 = ["Scarlett", "is", "now", "back", "from", "her first", "Python", "lesson."]

# Do notice the indentations
for each_word in l1:
    print (each_word)

l1 = ["Scarlett", "is", "in", "love", "with", "Python"]
print (l1)

### Numerical lists

In [ ]:
l1 = ['A', 'B', 'C', 'D', 'E']
print ("Guess how much Scarlett scored in her first lesson out of 5:")
for val in range(1, 6):
    print (l1[val-1] + ") " + str(val))

##### Note:
range(n, m) will loop over numbers from n to m-1

Using range() to make a list of numbers

In [ ]:
num_list = list(range(1, 6))
print (num_list)

Use range() to skip values at intervals

In [ ]:
# range (num_to_start_from, num_to_end_at+1, interval)
l1 = list(range(10, 51, 5))
print (l1)

##### Note:
One can use `list()` and `[]` to declare an empty list

Operations with list of numbers (1)min() (2)max() (3)sum()

In [ ]:
l1 = [2, 3, 4, 45, 1, 5, 6, 3, 1, 23, 14]
print ("Sum of all: " + str(sum(l1)))
print ("Max: " + str(max(l1)))
print ("Min: " + str(min(l1)))

### List Comprehensions:

In [ ]:
# Simple
l1 = [i for i in range(20, 30, 1)]
l2 = [i+1 for i in range(20, 30, 1)]
l3 = [[i, i**2] for i in range(2, 12, 3)]
print (l1)
print (l2)
print (l3)

In [ ]:
# A few more list comprehension examples
equi_list_1 = [[x, y, z] for x in range(1, 3) for y in range(3, 6) for z in range(6, 9)]
print (equi_list_1)

The above list comprehension is equivalent of the following code

In [ ]:
# Equivalent to the above code block
equi_list_2 = []
for x in range(1, 3):
    for y in range(3, 6):
        for z in range(6, 9):
            equi_list_2.append([x, y, z])
print (equi_list_2)

In [ ]:
# Proof of equivalence  (Do execute the above two blocks of code before running this)
print (equi_list_1 == equi_list_2)

In [ ]:
# List Comprehension with conditionals
l1 = [x if x%5==0 else "blank" for x in range(20)]
print (l1)

In [ ]:
# One more list comprehension with conditionals
l1 = ["Jennifer", "met", "Scarlett", "in", "Python", "lessons", "they", "take."]
l2 = [[str(x) + ") " + y] for x in range(len(l1)) for y in l1 if l1[x] == y]
print (l2)

### Slicing a list

In [ ]:
l1 = ["Jennifer", "is", "now", "friends", "with", "Scarlett"]

# [start_index : end_index+1]
print("[2:5] --> " + str(l1[2:5]))
print("[:4]  --> " + str(l1[:4]))  # everthing before 4th index [excluding the 4th]
print("[2:]  --> " + str(l1[2:]))  # everything from 2nd index [including the 2nd]

In [ ]:
# Some more slicing
l1 = ["Jennifer", "and", "Scarlett", "now", "Pythonistas", "!"]

print ("[-2:]   --> " + str(l1[-2:]))
print ("[:-3]   --> " + str(l1[:-3]))
print ("[-5:-2] --> " + str(l1[-5:-2]))
print ("[-4:-6] --> " + str(l1[-4:-6]))