# Getting Started with Python by @iArunava

This Notebook will get one boosted with python. So, Let's get started!

#### Comments:

In [ ]:
# This is a python tutorial and a single line comment
''' This is a multiline comment
    pretty awesome!!
    Let me introduce you to jennifer!'''

#### Imports:

In [ ]:
import math
import random

#### Variables:

In [7]:
msg = "Python!"  # String
v2 = 'Python!'   # Also String works same
v1 = 2           # Numbers
v3 = 3.564       # Floats / Doubles
v4 = True        # Boolean (True / False)

#### Print:

In [8]:
# print() automatically adds a newline
print (msg)
print (v2)
print (v1)
print (v3)
print (v4)
print ("Hello Python!")

Python!
Python!
2
3.564
True
Hello Python!

##### Note: 
Both " and ' can be used to make strings. And this flexibility allows for the following:

In [ ]:
msg2 = 'Jennifer said, "I love Python!"'
msg3 = "After that Jennifer's Python Interpreter said it back to her!"
msg4 = 'Of Course she used the command `print("I love Jennifer")`'

# Now, let's print them
print (msg2)
print (msg3)
print (msg4)

#### Case change of string variables:

In [ ]:
name    = "jennifEr loves Python"

# Change name string to title case i.e. first letter of each word is capitalized
name_t  = name.title() 
print (name_t)

# Change name string to upper case i.e. first letter of each word is capitalized
name_t  = name.upper() 
print (name_t)

# Change name string to lower case i.e. first letter of each word is capitalized
name_t  = name.lower() 
print (name_t)

#### String Concatenation:

In [ ]:
fname = "jennifer"
lname = "python"
flname = fname + " " + lname

print (fname + " " + lname)
print ("Jennifer" + " " + "Python")
# OR equivalently
print (flname.title())

#### Adding WhiteSpaces:

In [ ]:
print ("Jen\nloves\npython")

In [ ]:
print ("Jen\tloves\tpython")

In [ ]:
print ("Jen\tloves\npython")

#### Stripping Whitespace:

In [ ]:
name1 = "    Jennifer"
name2 = "Jennifer    "
name3 = "  Jennifer  "

print (name1)
print (name2)
print (name3)
print ("----------")
print (name1.lstrip()) # lstrip() takes all extra whitespaces from left
print (name2.rstrip()) # rstrip() takes all extra whitespaces from right
print (name3.strip())  # strip() takes all extra whitespaces from both left and right

#### Arithmetic Operations:

In [ ]:
# Add
print (3 + 2)
print (3.4565 + 56.232)
print ('------------')

# Subtract
print (3 - 4)
print (34.56 - 3.78)
print ('------------')

# Multiply
print (4 * 3)
print (7.56 * 34)
print ('------------')

# Division
print (5 / 2)
print (5.0 / 2)
print (5 / 2.0)
print (25.0 / 5)
print ('------------')

# Exponents
print (4 ** 4)
print (5.67 ** 3)

Tricks #1:

In [ ]:
print ("we" * 5)

str() function:

In [ ]:
jensage = 21
# print ("Jennifer's age is " + jensage) ## This is an error as one cannot concatenate string and integer
print ("Jennifer's age is " + str(jensage)) # This works!

The Zen Of Python.
In your interpreter import 'this'

In [ ]:
import this

#### Lists:

In [23]:
names = ["Jennifer", "Python", "Scarlett"]
print (names)

# Can have multiple data types in one list
rand_list = ["Jennifer", "Python", "refinneJ", "J", "9", 9, 12.90, "Who"]
print (rand_list)

['Jennifer', 'Python', 'Scarlett']
['Jennifer', 'Python', 'refinneJ', 'J', '9', 9, 12.9, 'Who']

#### Accessing elements in a list:

In [21]:
# O-indexed
print (names[2])
print (rand_list[3])
print (names[0] + " " + rand_list[2].title())

Scarlett
J
Jennifer Refinnej

Negetive indexes:
One can access the elements from the end of the list without knowing the size of the list

In [ ]:
print (rand_list[-1]) # Returns the last element of the list [1st from the end]
print (rand_list[-2]) # Returns the 2nd last element
# and so on..

Now here's a question.

In [26]:
print (rand_list[-1] + " is " + names[2] + "?")
print ("A) " + rand_list[0] + "'s sister\tB) " + names[0] + "'s Friend\nC) Not Related to " + rand_list[-8] + "\tD) Nice question but I don't know")

Who is Scarlett?
A) Jennifer's sister	B) Jennifer's Friend
C) Not Related to Jennifer	D) Nice question but I don't know

#### Modifying elements in a list

In [29]:
str_list = ["Scarlett", "is", "a", "nice", 'girl', '!']
print (str_list)
str_list[0] = "Jennifer"
print (str_list)

['Scarlett', 'is', 'a', 'nice', 'girl', '!']
['Jennifer', 'is', 'a', 'nice', 'girl', '!']

##### Note: 
Be consistent with the quotes you use, either use single quotes throughout or double quotes, don't mix match, I have used it to show readers that it is not a syntax error thus can be used, but to make beautiful and readable code stick with one you prefer. Henceforth, I'll use double quotes for strings and single for characters.

#### Adding elements to a list:

In [30]:
# Use append() to add elements to the end of the list
str_list.append ('She is 21.')
print (str_list)

['Jennifer', 'is', 'a', 'nice', 'girl', '!', 'She is 21.']

So, you can build lists like this:

In [32]:
my_list = []
my_list.append ("myname")
my_list.append ("myage")
my_list.append ("myaddress")
my_list.append ("myphn")
my_list.append ("is")
my_list.append (1234567890)
print (my_list)

['myname', 'myage', 'myaddress', 'myphn', 'is', 1234567890]

#### Inserting elements to list

In [33]:
# insert(index, element)
my_list.insert (0, "Mr/Miss/Mrs")
print (my_list)

my_list.insert (-1, "mymail")
print (my_list)

['Mr/Miss/Mrs', 'myname', 'myage', 'myaddress', 'myphn', 'is', 1234567890]
['Mr/Miss/Mrs', 'myname', 'myage', 'myaddress', 'myphn', 'is', 'mymail', 1234567890]

##### Note:
Using '-1' to append at the end doesn't works and inserts element at the 2nd last position.
Let's see about '-2'

In [36]:
my_list = ['A', 'B', 'C', 'D']
my_list.insert (-2, 'E')
print (my_list)

['A', 'B', 'E', 'C', 'D']

So, as we can see using '-2' inserts at 3rd last position
So, we can use '-n' to insert at 'n+1'th position from end.
To insert at end we can use:

In [39]:
# Insert elements at the end
l1 = ['A', 'B', 'C', 'D']
l2 = ['A', 'B', 'C', 'D']

l1.append('E')
l2.insert(len(my_list), 'E')
print (l1)
print (l2)

['A', 'B', 'C', 'D', 'E']
['A', 'B', 'C', 'D', 'E']

#### Length of the list and string use len()

In [43]:
l1 = ['A', 'B', 'C', 'D', 'E']
print (len(l1))

l2 = "Where is Jennifer and Scarlett?"
print (len(l2))

5
31

#### Removing elements from list

Using del

In [46]:
# del can remove any element from list as long as you know its index
l1 = ['A', 'B', 'C', 'D', 'E']
print (l1)

del l1[0]
print (l1)

del l1[-1]
print (l1)

['A', 'B', 'C', 'D', 'E']
['B', 'C', 'D', 'E']
['B', 'C', 'D']

Using pop()
pop() without any arguments removes the last element from the list
Returns that element for further use

In [47]:
# pop() can remove the last element from list when used without any arguments
l1 = ['A', 'B', 'C', 'D', 'E']
# pop() returns the last element, so c would store the popped element
c = l1.pop()

print (l1)
print (c)

['A', 'B', 'C', 'D']
E

pop() with arguments
pop(n) -> Removes the element at index 'n' and returns it

In [48]:
l1 = ['A', 'B', 'C', 'D', 'E']
c = l1.pop(0) # Removes the element at 0 position and returns it
print (l1)
print (c)

c = l1.pop(-1) # Works as expected with negetive indexes
print (l1)
print (c)

['B', 'C', 'D', 'E']
A
['B', 'C', 'D']
E

#### Removing an item by value

In [3]:
q1 = ["Seriously, ", "what", "happened", "to", "Jennifer", "and", "Jennifer", "?"]
print (q1)

q1.remove ("Jennifer")
print (q1)

n1 = "and"
q1.remove(n1)
print (q1)

['Seriously, ', 'what', 'happened', 'to', 'Jennifer', 'and', 'Jennifer', '?']
['Seriously, ', 'what', 'happened', 'to', 'and', 'Jennifer', '?']
['Seriously, ', 'what', 'happened', 'to', 'Jennifer', '?']

##### Note:
remove() only removes the first occurence of the value that is specified.

#### Sorting a list

sort() -> sorts list in increasing or decreasing order, *permantantly*

In [5]:
# Sorts in alphabetical order
l1 = ['E', 'D', 'C', 'B', 'A']
l1.sort()
print (l1)

# Sorts in increasing order
l2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
l2.sort()
print (l2)

['A', 'B', 'C', 'D', 'E']
[0, 1, 2, 4, 9.45, 12.01, 12.02, 16, 45.67, 90, 200]

In [9]:
# Reverse sorts alphabetical order
l1 = ['E', 'D', 'C', 'B', 'A']
l1.sort(reverse=True)
print (l1)

# Sorts in decreasing order
l2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
l2.sort(reverse=True)
print (l2)

['E', 'D', 'C', 'B', 'A']
[200, 90, 45.67, 16, 12.02, 12.01, 9.45, 4, 2, 1, 0]

sorted() -> Sorts list in increasing or decreasing order, (temporarily)

In [12]:
# Sorts in increasing order
l2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
print (l2)
print (sorted(l2))
print (l2)

[2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
[0, 1, 2, 4, 9.45, 12.01, 12.02, 16, 45.67, 90, 200]
[2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]

In [13]:
# Sorts in decreasing order
l2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
print (l2)
print (sorted(l2, reverse=True))
print (l2)

[2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
[200, 90, 45.67, 16, 12.02, 12.01, 9.45, 4, 2, 1, 0]
[2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]

#### Reversing a list

In [14]:
# Reverse list
l1 = ['E', 'D', 'C', 'B', 'A']
l1.reverse()
print (l1)

['A', 'B', 'C', 'D', 'E']