# Getting Started with Python by @iArunava

This Notebook will get one boosted with python. So, Let's get started!

Comments:

In [1]:
# This is a python tutorial and a single line comment
''' This is a multiline comment
    pretty awesome!!
    Let me introduce you to jennifer!'''

' This is a multiline comment\n    pretty awesome!!\n    Let me introduce you to jennifer!'

Imports:

In [16]:
import math
import random

Variables:

In [3]:
msg = "Python!"  # String
v2 = 'Python!'   # Also String works same
v1 = 2           # Numbers
v3 = 3.564       # Floats / Doubles

Print:

In [17]:
print (msg)
print (v2)
print (v1)
print (v3)
print ("Hello Python!")

Python!
Python!
2
3.564
Hello Python!

Note: Both " and ' can be used to make strings. And this flexibility allows for the following:

In [5]:
msg2 = 'Jennifer said, "I love Python!"'
msg3 = "After that Jennifer's Python Interpreter said it back to her!"
msg4 = 'Of Course she used the command `print("I love Jennifer")`'

# Now, let's print them
print (msg2)
print (msg3)
print (msg4)

Jennifer said, "I love Python!"
After that Jennifer's Python Interpreter said it back to her!
Of Course she used the command `print("I love Jennifer")`

Case change of string variables:

In [6]:
name    = "jennifEr loves Python"

# Change name string to title case i.e. first letter of each word is capitalized
name_t  = name.title() 
print (name_t)

# Change name string to upper case i.e. first letter of each word is capitalized
name_t  = name.upper() 
print (name_t)

# Change name string to lower case i.e. first letter of each word is capitalized
name_t  = name.lower() 
print (name_t)

Jennifer Loves Python
JENNIFER LOVES PYTHON
jennifer loves python

String Concatenation:

In [7]:
fname = "jennifer"
lname = "python"
flname = fname + " " + lname

print (fname + " " + lname)
print ("Jennifer" + " " + "Python")
# OR equivalently
print (flname.title())

jennifer python
Jennifer Python
Jennifer Python

Adding WhiteSpaces:

In [8]:
print ("Jen\nloves\npython")

Jen
loves
python

In [9]:
print ("Jen\tloves\tpython")

Jen	loves	python

In [10]:
print ("Jen\tloves\npython")

Jen	loves
python

Stripping Whitespace:

In [11]:
name1 = "    Jennifer"
name2 = "Jennifer    "
name3 = "  Jennifer  "

print (name1)
print (name2)
print (name3)
print ("----------")
print (name1.lstrip()) # lstrip() takes all extra whitespaces from left
print (name2.rstrip()) # rstrip() takes all extra whitespaces from right
print (name3.strip())  # strip() takes all extra whitespaces from both left and right

    Jennifer
Jennifer
  Jennifer
----------
Jennifer
Jennifer
Jennifer

Arithmetic Operations:

In [12]:
# Add
print (3 + 2)
print (3.4565 + 56.232)
print ('------------')

# Subtract
print (3 - 4)
print (34.56 - 3.78)
print ('------------')

# Multiply
print (4 * 3)
print (7.56 * 34)
print ('------------')

# Division
print (5 / 2)
print (5.0 / 2)
print (5 / 2.0)
print (25.0 / 5)
print ('------------')

# Exponents
print (4 ** 4)
print (5.67 ** 3)

5
59.6885
------------
-1
30.78
------------
12
257.03999999999996
------------
2.5
2.5
2.5
5.0
------------
256
182.28426299999998

Tricks #1:

In [13]:
print ("we" * 5)

wewewewewe

str() function:

In [14]:
jensage = 21
# print ("Jennifer's age is " + jensage) ## This is an error as one cannot concatenate string and integer
print ("Jennifer's age is " + str(jensage)) # This works!

Jennifer's age is 21