# Getting Started with Python by @iArunava

This Notebook will get one boosted with python. So, Let's get started!

#### Comments:

In [ ]:
# This is a python tutorial and a single line comment
''' This is a multiline comment
    pretty awesome!!
    Let me introduce you to jennifer!'''

#### Imports:

In [ ]:
import math
import random

#### Variables:

In [ ]:
msg = "Python!"  # String
v2 = 'Python!'   # Also String works same
v1 = 2           # Numbers
v3 = 3.564       # Floats / Doubles
v4 = True        # Boolean (True / False)

#### Print:

In [ ]:
# print() automatically adds a newline
print (msg)
print (v2)
print (v1)
print (v3)
print (v4)
print ("Hello Python!")

##### Note: 
Both " and ' can be used to make strings. And this flexibility allows for the following:

In [ ]:
msg2 = 'Jennifer said, "I love Python!"'
msg3 = "After that Jennifer's Python Interpreter said it back to her!"
msg4 = 'Of Course she used the command `print("I love Jennifer")`'

# Now, let's print them
print (msg2)
print (msg3)
print (msg4)

### Conditional Blocks

In [ ]:
# if..else
v1 = 5
if v1 == 5:
    print (v1)
else:
    print ("v1 is not 5")

In [ ]:
# if..elif..else
s1 = "Jennifer"
s2 = "loves"
s3 = "Python"
if s1 == "Python":
    print ("s1 is Python")
elif s2 == "Jennifer":
    print ("s2 is Jennifer")
elif s1 == "loves":
    print ("s1 is loves")
else:
    print ("Jennifer loves Python!")

In [ ]:
# One liner
v1 = 5
x = 10 if v1 == 5 else 13
print (x)

In [ ]:
# Let's see the conditionals available
v1 = "Jennifer"
v2 = "Python"
v3 = 45
v4 = 67
v5 = 45

# Test for equality
print (v1 == v2)

# Test for greater than and greater than equal
print (v4 > v3)
print (v5 >= v2)

# Test for lesser than and lesser than equal
print (v4 < v3)
print (v5 <= v2)

# Inequality
print (v1 != v2)

In [ ]:
# Note:
v1 = 45
v2 = "45"
print (v1 == v2) # False
print (str(v1) == v2) # True

In [ ]:
# Ignore case when comparing two strings
s1 = "Jennifer"
s2 = "jennifer"

print (s1 == s2) # False
print (s1.lower() == s2.lower()) # True
# OR
print (s1.upper() == s2.upper()) # True

In [ ]:
# Checking multiple conditions 'and' and 'or'
v1 = "Jennifer"
v2 = "Python"

# 'and' -> evaluates true when both conditions are True
print (v1 == "Jennifer" and v2 == "Python")
# 'or' -> evaluates true when any one condition is True
print (v1 == "Python" or v2 == "Python")

##### Note: 
When making comparisons with string with '>' or '<'
The strings are compared lexographically.

In [ ]:
s1 = "Jennifer"
s2 = "Python"

print (s1 > s2) # True -> since 'Jennifer' comes lexographically before 'Python'

In [ ]:
# Check whether a value is in a list -> 'in'
l1 = [23, 45, 67, "Jennifer", "Python", 'A']

print (23 in l1)
print ('A' in l1)
print ("Python" in l1)
print (32 in l1)

In [ ]:
# Putting it together
l1 = [23, 1, 'A', "Jennifer", 9.34]

# This is True, so the other statements are not checked
if 23 in l1 and 'B' not in l1: # Note: use of 'not'
    print ("1")
elif 23 >= l1[0]: # True
    print ("2")
elif 2.45 < l1[-1]: # True
    print ("3")

In [ ]:
# Checking if list is empty
l1 = []
l2 = ["Jennifer"]

if l1:
    print (1)
elif l2:
    print (2)

### Case change of string variables:

In [ ]:
name    = "jennifEr loves Python"

# Change name string to title case i.e. first letter of each word is capitalized
name_t  = name.title() 
print (name_t)

# Change name string to upper case i.e. first letter of each word is capitalized
name_t  = name.upper() 
print (name_t)

# Change name string to lower case i.e. first letter of each word is capitalized
name_t  = name.lower() 
print (name_t)

### String Concatenation:

In [ ]:
fname = "jennifer"
lname = "python"
flname = fname + " " + lname

print (fname + " " + lname)
print ("Jennifer" + " " + "Python")
# OR equivalently
print (flname.title())

### Adding WhiteSpaces:

In [ ]:
print ("Jen\nloves\npython")

In [ ]:
print ("Jen\tloves\tpython")

In [ ]:
print ("Jen\tloves\npython")

### Stripping Whitespace:

In [ ]:
name1 = "    Jennifer"
name2 = "Jennifer    "
name3 = "  Jennifer  "

print (name1)
print (name2)
print (name3)
print ("----------")
print (name1.lstrip()) # lstrip() takes all extra whitespaces from left
print (name2.rstrip()) # rstrip() takes all extra whitespaces from right
print (name3.strip())  # strip() takes all extra whitespaces from both left and right

### Arithmetic Operations:

In [ ]:
# Add
print (3 + 2)
print (3.4565 + 56.232)
print ('------------')

# Subtract
print (3 - 4)
print (34.56 - 3.78)
print ('------------')

# Multiply
print (4 * 3)
print (7.56 * 34)
print ('------------')

# Division
print (5 / 2)
print (5.0 / 2)
print (5 / 2.0)
print (25.0 / 5)
print ('------------')

# Exponents
print (4 ** 4)
print (5.67 ** 3)

Tricks #1:

In [ ]:
print ("we" * 5)

### str() function:

In [ ]:
jensage = 21
# print ("Jennifer's age is " + jensage) ## This is an error as one cannot concatenate string and integer
print ("Jennifer's age is " + str(jensage)) # This works!

The Zen Of Python.
In your interpreter import 'this'

In [ ]:
import this

## Lists:

In [ ]:
names = ["Jennifer", "Python", "Scarlett"]
print (names)

# Can have multiple data types in one list
rand_list = ["Jennifer", "Python", "refinneJ", "J", "9", 9, 12.90, "Who"]
print (rand_list)

### Accessing elements in a list:

In [ ]:
# O-indexed
print (names[2])
print (rand_list[3])
print (names[0] + " " + rand_list[2].title())

Negetive indexes:
One can access the elements from the end of the list without knowing the size of the list

In [ ]:
print (rand_list[-1]) # Returns the last element of the list [1st from the end]
print (rand_list[-2]) # Returns the 2nd last element
# and so on..

Now here's a question.

In [ ]:
print (rand_list[-1] + " is " + names[2] + "?")
print ("A) " + rand_list[0] + "'s sister\tB) " + names[0] + "'s Friend\nC) Not Related to " + rand_list[-8] + "\tD) Nice question but I don't know")

### Modifying elements in a list

In [ ]:
str_list = ["Scarlett", "is", "a", "nice", 'girl', '!']
print (str_list)
str_list[0] = "Jennifer"
print (str_list)

##### Note: 
Be consistent with the quotes you use, either use single quotes throughout or double quotes, don't mix match, I have used it to show readers that it is not a syntax error thus can be used, but to make beautiful and readable code stick with one you prefer. Henceforth, I'll use double quotes for strings and single for characters.

### Adding elements to a list:

In [ ]:
# Use append() to add elements to the end of the list
str_list.append ('She is 21.')
print (str_list)

So, you can build lists like this:

In [ ]:
my_list = []
my_list.append ("myname")
my_list.append ("myage")
my_list.append ("myaddress")
my_list.append ("myphn")
my_list.append ("is")
my_list.append (1234567890)
print (my_list)

### Inserting elements to list

In [ ]:
# insert(index, element)
my_list.insert (0, "Mr/Miss/Mrs")
print (my_list)

my_list.insert (-1, "mymail")
print (my_list)

##### Note:
Using '-1' to append at the end doesn't works and inserts element at the 2nd last position.
Let's see about '-2'

In [ ]:
my_list = ['A', 'B', 'C', 'D']
my_list.insert (-2, 'E')
print (my_list)

So, as we can see using '-2' inserts at 3rd last position
So, we can use '-n' to insert at 'n+1'th position from end.
To insert at end we can use:

In [ ]:
# Insert elements at the end
l1 = ['A', 'B', 'C', 'D']
l2 = ['A', 'B', 'C', 'D']

l1.append('E')
l2.insert(len(my_list), 'E')
print (l1)
print (l2)

### Length of the list and string use len()

In [ ]:
l1 = ['A', 'B', 'C', 'D', 'E']
print (len(l1))

l2 = "Where is Jennifer and Scarlett?"
print (len(l2))

### Removing elements from list

Using del

In [ ]:
# del can remove any element from list as long as you know its index
l1 = ['A', 'B', 'C', 'D', 'E']
print (l1)

del l1[0]
print (l1)

del l1[-1]
print (l1)

Using pop()
pop() without any arguments removes the last element from the list
Returns that element for further use

In [ ]:
# pop() can remove the last element from list when used without any arguments
l1 = ['A', 'B', 'C', 'D', 'E']
# pop() returns the last element, so c would store the popped element
c = l1.pop()

print (l1)
print (c)

pop() with arguments
pop(n) -> Removes the element at index 'n' and returns it

In [ ]:
l1 = ['A', 'B', 'C', 'D', 'E']
c = l1.pop(0) # Removes the element at 0 position and returns it
print (l1)
print (c)

c = l1.pop(-1) # Works as expected with negetive indexes
print (l1)
print (c)

### Removing an item by value

In [ ]:
q1 = ["Seriously, ", "what", "happened", "to", "Jennifer", "and", "Jennifer", "?"]
print (q1)

q1.remove ("Jennifer")
print (q1)

n1 = "and"
q1.remove(n1)
print (q1)

##### Note:
remove() only removes the first occurence of the value that is specified.

### Sorting a list

sort() -> sorts list in increasing or decreasing order, *permantantly*

In [ ]:
# Sorts in alphabetical order
l1 = ['E', 'D', 'C', 'B', 'A']
l1.sort()
print (l1)

# Sorts in increasing order
l2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
l2.sort()
print (l2)

In [ ]:
# Reverse sorts alphabetical order
l1 = ['E', 'D', 'C', 'B', 'A']
l1.sort(reverse=True)
print (l1)

# Sorts in decreasing order
l2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
l2.sort(reverse=True)
print (l2)

sorted() -> Sorts list in increasing or decreasing order, (temporarily)

In [ ]:
# Sorts in increasing order
l2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
print (l2)
print (sorted(l2))
print (l2)

In [ ]:
# Sorts in decreasing order
l2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
print (l2)
print (sorted(l2, reverse=True))
print (l2)

### Reversing a list

In [ ]:
# Reverse list
l1 = ['E', 'D', 'C', 'B', 'A']
l1.reverse()
print (l1)

### Looping Through a list

In [ ]:
l1 = ["Scarlett", "is", "now", "back", "from", "her first", "Python", "lesson."]

# Do notice the indentations
for each_word in l1:
    print (each_word)

l1 = ["Scarlett", "is", "in", "love", "with", "Python"]
print (l1)

### Numerical lists

In [ ]:
l1 = ['A', 'B', 'C', 'D', 'E']
print ("Guess how much Scarlett scored in her first lesson out of 5:")
for val in range(1, 6):
    print (l1[val-1] + ") " + str(val))

##### Note:
range(n, m) will loop over numbers from n to m-1

Using range() to make a list of numbers

In [ ]:
num_list = list(range(1, 6))
print (num_list)

Use range() to skip values at intervals

In [ ]:
# range (num_to_start_from, num_to_end_at+1, interval)
l1 = list(range(10, 51, 5))
print (l1)

##### Note:
One can use `list()` and `[]` to declare an empty list

Operations with list of numbers (1)min() (2)max() (3)sum()

In [ ]:
l1 = [2, 3, 4, 45, 1, 5, 6, 3, 1, 23, 14]
print ("Sum of all: " + str(sum(l1)))
print ("Max: " + str(max(l1)))
print ("Min: " + str(min(l1)))

### List Comprehensions:

In [ ]:
# Simple
l1 = [i for i in range(20, 30, 1)]
l2 = [i+1 for i in range(20, 30, 1)]
l3 = [[i, i**2] for i in range(2, 12, 3)]
print (l1)
print (l2)
print (l3)

In [ ]:
# A few more list comprehension examples
equi_list_1 = [[x, y, z] for x in range(1, 3) for y in range(3, 6) for z in range(6, 9)]
print (equi_list_1)

The above list comprehension is equivalent of the following code

In [ ]:
# Equivalent to the above code block
equi_list_2 = []
for x in range(1, 3):
    for y in range(3, 6):
        for z in range(6, 9):
            equi_list_2.append([x, y, z])
print (equi_list_2)

In [ ]:
# Proof of equivalence  (Do execute the above two blocks of code before running this)
print (equi_list_1 == equi_list_2)

In [ ]:
# List Comprehension with conditionals
l1 = [x if x%5==0 else "blank" for x in range(20)]
print (l1)

In [ ]:
# One more list comprehension with conditionals
l1 = ["Jennifer", "met", "Scarlett", "in", "Python", "lessons", "they", "take."]
l2 = [[str(x) + ") " + y] for x in range(len(l1)) for y in l1 if l1[x] == y]
print (l2)

### Slicing a list

In [ ]:
l1 = ["Jennifer", "is", "now", "friends", "with", "Scarlett"]

# [start_index : end_index+1]
print("[2:5] --> " + str(l1[2:5]))
print("[:4]  --> " + str(l1[:4]))  # everthing before 4th index [excluding the 4th]
print("[2:]  --> " + str(l1[2:]))  # everything from 2nd index [including the 2nd]
print("[:]   --> " + str(l1[:]))   # every element in the list

In [ ]:
# Some more slicing
l1 = ["Jennifer", "and", "Scarlett", "now", "Pythonistas", "!"]

print ("[-2:]   --> " + str(l1[-2:]))
print ("[:-3]   --> " + str(l1[:-3]))
print ("[-5:-2] --> " + str(l1[-5:-2]))
print ("[-4:-6] --> " + str(l1[-4:-6]))

In [ ]:
# Looping through a slice
l1 = ["Pythonistas", "rock", "!!!", "XD"]
for w in l1[-4:-1]:
    print (w.upper())

### Copying a list

In [ ]:
l1 = ["We", "should", "use", "[:]", "to", "copy", "the", "whole", "list"]
l2 = l1[:]
print(l2)

In [ ]:
''' Run the above block first '''
# Proof that the above two lists are different
l2.append(". Using [:] ensures the two lists are different")
print (l1)
print (l2)

#### Note:
What happens if we directly assign one list to the other instead of using slices.

In [ ]:
l1 = ["Jennifer", "now", "wonders", "what", "happens", "if", "we", "directly", "assign."]
l2 = l1
l2.append("Both variables point to the same list")
print (l1)
print (l2)

### Tuples

Tuples are list, the elements stored in which cannot be changed.

In [ ]:
t1 = (23, 45)
print (t1)
print (t1[1])

In [ ]:
# Can have more than two elements
t1 = (1, 2, 3, 4, 5, 6, 7)
print (t1)
print (t1[4])

In [ ]:
# Cannot change the elements stored as compared to lists
l1 = [1, 2, 3, 4, 5, 6, 7]
t1 = (1, 2, 3, 4, 5, 6, 7)

# Can change elements in list
l1[4] = 1
# Cannot change elements in tuple (Uncomment it to see the error)
#t1[4] = 1

print (l1)
print (t1)

#### Looping over a tuple

In [ ]:
t1 = (34, 12, 56, 78, 89)
for t in t1:
    print (t)

#### Writing over a tuple

One cannot change the elements stored in the tuple. But you can assign a new tuple to the variable that stores the tuple you wanna change.

In [ ]:
t1 = (23, 12, 45, 78)
print (t1)

t1 = (45, 67) # t1 changed to new value
print (t1)

### Dictionaries

Allows to have key:value pairs

In [ ]:
# Simple
d1 = {"Jennifer":8, 'A':65, 66:'B', 9.45:"Decimals"}

print (d1["Jennifer"])
print (d1['A'])
print (d1[66])
print (d1[9.45])

In [ ]:
# Adding new kay:value pairs
d1 = {"Jennifer":8, 'A':65, 66:'B', 9.45:"Decimals"}

d1["Scarlett"] = 8
d1[7.56]       = "Is a decimal!"
d1['Q']        = 17

print (d1["Scarlett"])
print (d1[7.56])
print (d1['Q'])

print (d1)

In [ ]:
# Declaring an empty dictionary
d1 = {}

# Add new values
d1["Jennifer"] = "Python"
d1["Scarlett"] = "Python"
d1[45]         = 56

print (d1)

In [ ]:
# Modifying values in a dictionary
d1 = {"Python":"Is a language", "Jennifer":"Feels like a supergirl with Python"}

d1["Python"] = "Is Love"
d1["Jennifer"] = 8
print (d1)

In [ ]:
# Removing Key:Value pairs
d1 = {"Key":"Value", "Jennifer":"Scarlett", "Scarlett":"Jennifer"}

del d1["Key"]
print (d1)

In [ ]:
# Storing a dictionary inside a dictionary
d1 = {'A':65, 'B':66, 'C':67, 'D': {
    "Breaking": "Dict into dicts", 
    "Inception": "All over", 
    '!': "XD"}, 
    'E':69, 
    "What happened with D?": "It became a 'D'ictionary! XD",
    66:66}

print (d1['D']["Inception"])
print (d1["What happened with D?"])
print ('\n')
print (d1)

In [ ]:
# Looping through a dictionary
for key, value in d1.items():
    print("Key: "    + str(key))
    print ("Value: " + str(value))
    print('\n')

In [ ]:
# Looping through the keys in dictionary
for key in d1.keys():
    print("Key: "    + str(key))
    print ("Value: " + str(d1[key]))
    print('\n')

In [ ]:
# Note: Default behaviour is to loop through keys if not specified d1.keys()
for k in d1:
    print("Key: "    + str(k))

In [ ]:
# Check if a particular key is  present
if 'F' not in d1.keys():
    print ("What happened to F?")

In [ ]:
# Looping through dictonary keys in sorted order (increasing)
for key in sorted(d1.keys()):
    print ("Key :" + key + '\t' + "Value :" + str(d1[key]) + '\n')

In [ ]:
# Looping through dictonary keys in sorted order (decreasing)
for key in sorted(d1.keys(), reverse=True):
    print ("Key :" + key + '\t' + "Value :" + str(d1[key]) + '\n')

In [ ]:
# Looping through values in dictionary (with repeats)
# Note: If two or more keys have the same value then this method will print all of them
for value in d1.values():
    print (str(value).title())

In [ ]:
# List in Dictionary
d1 = {"l1":['A', 'B', 'C', 'D'],
      "l2":['E', 'F', 'G', 'H'],
       45 : "qwerty",
      '$' : "$Dollar$"}

# Accessing the elements in list
print (d1["l1"][2])
print (d1["l2"][-1])

In [ ]:
# Looping over just the lists in dictionary
for k in d1.keys():
    if type(d1[k]) == list:
        print ("List :" + k)
        for val in d1[k]:
            print (val)
        print ('\n')